<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNovo()"></button>
                        <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedFornecedores()" [disabled]="!selectedFornecedores || !selectedFornecedores.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="fornecedores" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','email','telefone','cnpj','razaoSocial']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [(selection)]="selectedFornecedores" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciar Fornecedores</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Código <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="telefone">Telefone <p-sortIcon field="telefone"></p-sortIcon></th>
                        <th pSortableColumn="cnpj">CNPJ <p-sortIcon field="cnpj"></p-sortIcon></th>
                        <th pSortableColumn="razaoSocial">Razão Social <p-sortIcon field="razaoSocial"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fornecedor>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="fornecedor"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Código</span>
                            {{fornecedor.code || fornecedor.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nome</span>
                            {{fornecedor.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Email</span>
                            {{fornecedor.email}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Telefone</span>
                            {{fornecedor.telefone}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">CNPJ</span>
                            {{fornecedor.cnpj}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Razão Social</span>
                            {{fornecedor.razaoSocial}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Endereço</span>
                            {{fornecedor.endereco?.rua}}, {{fornecedor.endereco?.numero}}, {{fornecedor.endereco?.complemento}}, {{fornecedor.endereco?.bairro}}, {{fornecedor.endereco?.cidade?.nome}}, {{fornecedor.endereco?.estado?.nome}}, {{fornecedor.endereco?.cep}}
                        </td>
                        <td>
                            <div class="flex" style="justify-content: flex-end;">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editFornecedor(fornecedor)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteFornecedor(fornecedor)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="fornecedorDialog" [style]="{width: '450px'}" header="Detalhes do Fornecedor" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field" style="margin-bottom: 1rem;">
                    <label for="name">Nome</label>
                    <input type="text" pInputText id="name" [(ngModel)]="fornecedor.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !fornecedor.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !fornecedor.name">Nome é obrigatório.</small>
                </div>
                
                <div class="field" style="margin-bottom: 1rem;">
                    <label for="email">E-mail</label>
                    <input type="text" pInputText id="email" [(ngModel)]="fornecedor.email" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !fornecedor.email}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !fornecedor.email">E-mail é obrigatório.</small>
                </div>
                
                <div class="field" style="margin-bottom: 1rem;">
                    <label for="telefone">Telefone</label>
                    <input type="text" pInputText id="telefone" [(ngModel)]="fornecedor.telefone" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !fornecedor.telefone}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !fornecedor.telefone">Telefone é obrigatório.</small>
                </div>
                
                <div class="field" style="margin-bottom: 1rem;">
                    <label for="cnpj">CNPJ</label>
                    <input type="text" pInputText id="cnpj" [(ngModel)]="fornecedor.cnpj" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !fornecedor.cnpj}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !fornecedor.cnpj">CNPJ é obrigatório.</small>
                </div>
                
                <div class="field" style="margin-bottom: 1rem;">
                    <label for="razaoSocial">Razão Social</label>
                    <input type="text" pInputText id="razaoSocial" [(ngModel)]="fornecedor.razaoSocial" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !fornecedor.razaoSocial}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !fornecedor.razaoSocial">Razão Social é obrigatória.</small>
                </div>
                
                <div class="field" style="margin-bottom: 1rem;">
                    <label for="endereco">Endereço</label>
                    <div style="display: flex; flex-wrap: wrap; gap: 8px;">
                        <input type="text" pInputText id="rua" [(ngModel)]="fornecedor.endereco.rua" placeholder="Rua" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !fornecedor.endereco?.rua}" style="flex: 1 1 100%;" />
                        <input type="text" pInputText id="numero" [(ngModel)]="fornecedor.endereco.numero" placeholder="Número" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !fornecedor.endereco?.numero}" style="flex: 1 1 100%;" />
                        <input type="text" pInputText id="complemento" [(ngModel)]="fornecedor.endereco.complemento" placeholder="Complemento" style="flex: 1 1 100%;" />
                        <input type="text" pInputText id="bairro" [(ngModel)]="fornecedor.endereco.bairro" placeholder="Bairro" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !fornecedor.endereco?.bairro}" style="flex: 1 1 100%;" />
                        <p-dropdown [options]="ufs" [(ngModel)]="fornecedor.endereco.estado" optionLabel="nome" placeholder="Estado" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !fornecedor.endereco?.estado}" (onChange)="getMunicipios($event.value.id)" style="flex: 1 1 100%;"></p-dropdown>
                        <p-dropdown [options]="municipios" [(ngModel)]="fornecedor.endereco.cidade" optionLabel="nome" placeholder="Cidade" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !fornecedor.endereco?.cidade}" style="flex: 1 1 100%;"></p-dropdown>
                        <input type="text" pInputText id="cep" [(ngModel)]="fornecedor.endereco.cep" placeholder="CEP" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !fornecedor.endereco?.cep}" (blur)="getCep(fornecedor.endereco.cep)" style="flex: 1 1 100%;"/>
                    </div>
                </div>
            </ng-template>
        
            <ng-template pTemplate="footer">
                <div class="p-d-flex p-jc-end">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveFornecedor()"></button>
                </div>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteFornecedorDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="fornecedor">Deseja deletar o fornecedor <b>{{fornecedor.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteFornecedorDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteFornecedoresDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Você quer deletar todos os fornecedores selecionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteFornecedoresDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>