<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNovo()"></button>
                        <button pButton pRipple label="Excluir" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPedidos()" [disabled]="!selectedPedidos || !selectedPedidos.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="pedidos" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['cliente.name','total','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [(selection)]="selectedPedidos" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciar Pedidos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="cliente.name">Cliente <p-sortIcon field="cliente.name"></p-sortIcon></th>
                        <th pSortableColumn="itens[0].cardapio.name">Pizza <p-sortIcon field="itens[0].cardapio.name"></p-sortIcon></th>
                        <th pSortableColumn="funcionario.name">Funcionário <p-sortIcon field="funcionario.name"></p-sortIcon></th>
                        <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="pedido"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Cliente</span>
                            {{pedido.cliente?.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Pizza</span>
                            {{pedido.itens[0]?.cardapio?.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Funcionário</span>
                            {{pedido.funcionario?.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Total</span>
                            {{pedido.total | currency:'BRL'}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Status</span>
                            {{pedido.status}}
                        </td>
                        <td>
                            <div class="flex" style="justify-content: flex-end;">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPedido(pedido)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePedido(pedido)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="pedidoDialog" [style]="{width: '450px'}" header="Detalhes do Pedido" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="cliente">Cliente</label>
                    <p-dropdown [options]="clientes" [(ngModel)]="pedido.cliente" optionLabel="name" placeholder="Selecione um Cliente"></p-dropdown>
                </div>
                <div class="field">
                    <label for="itens">Pizza</label>
                    <p-dropdown [options]="cardapios" [(ngModel)]="pedido.itens[0].cardapio" optionLabel="name" placeholder="Selecione uma Pizza" (onChange)="onPizzaChange($event)"></p-dropdown>
                </div>
                <div class="field">
                    <label for="funcionario">Funcionário</label>
                    <p-dropdown [options]="funcionarios" [(ngModel)]="pedido.funcionario" optionLabel="name" placeholder="Selecione um Funcionário"></p-dropdown>
                </div>
                <div class="field">
                    <label for="total">Total</label>
                    <p-inputNumber id="total" [(ngModel)]="pedido.total" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
                </div>
                <div class="field">
                    <label for="status">Status</label>
                    <p-dropdown [options]="statusOptions" [(ngModel)]="pedido.status" placeholder="Selecione o Status" appendTo="body"></p-dropdown>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <div class="p-d-flex p-jc-end">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="savePedido()"></button>
                </div>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePedidoDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="pedido">Deseja deletar o pedido de <b>{{pedido.cliente?.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deletePedidoDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePedidosDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Você quer deletar todos os pedidos selecionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deletePedidosDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>